@use 'breakpoints' as *;
@use 'variables' as *;
@use 'ngx-toastr/toastr' as *;

form {
  padding: 25px;
  text-align: center;

  h2 {
    color: var(--color-text-primary);
    font-size: 33px;
  }

  div:not(.form-input) {
    text-align: center;
    color: var(--color-text-primary);
  }

  div:last-child:not(.form-input div) {
    margin-top: 15px;
  }

  button {
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border: 2px solid;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--bg-btn);
    border-color: var(--color-border-primary);
    transition: 0.15s;

    &:hover {
      background-color: var(--bg-btn-hover);
    }

    @include respond-to(mobile) {
      padding: 8px;
      font-size: 15px;
    }
  }

  a {
    cursor: pointer;
    margin-top: .5rem;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    font-weight: bold;
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  text-align: left;

  div {
    position: relative;
    display: flex;

    label {
      cursor: pointer;
      position: absolute;
      right: 15px;
      height: 100%;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #555;
      font-size: 18px;
    }

    input {
      width: 100%;
      outline: none;
      padding: 10px 0px 10px 5%;
      border: 1px solid #ccc;
      border-radius: 50px;
      font-size: 15px;
      color: var(--color-text-primary);
      background-color: var(--bg-input);
      transition: border-color 0.3s, box-shadow 0.3s;
    }
  }

  i {
    color: var(--color-icon)
  }

  small {
    font-size: 14px;
    color: var(--color-error);

    @include respond-to(tablet) {
      font-size: 14px;
    }

    @include respond-to(mobile) {
      font-size: 13px;
    }
  }
}