.admin-layout{
    padding: 0 15rem;
}

.home-container {
    display: flex;
    height: calc(100vh - 70px);
}

.content {
    flex: 1;
}

@media (max-width: 768px) {
    .home-container {
        display: block;
        height: auto;
    }
}