.home-container {
    display: flex;

    app-product-page{
        flex: 1;
    }
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    app-left-side-page {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
    }
}