.table-container {
  width: 100%;
  max-height: var(--maxHeight);
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: auto;

  .table {
    width: 100%;

    .thead {
      position: sticky;
      top: 0;
      z-index: 5;
      display: flex;
      align-items: center;
      height: 4vh;
      border-bottom: 1px solid #eee;

      .th {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        width: 8rem;
        background-color: var(--bg-200-rgba);
        color: var(--text-900-rgba);

        &:first-child {
          width: 4rem;
          justify-content: center;

          .btn-column-management {
            cursor: pointer;
            font-size: 15px;
            border-radius: 50%;
            padding: 5px 7px;
            color: var(--text-900-rgba);
            background-color: transparent;
            border: 1px solid transparent;

            &:hover {
              background-color: var(--dropdown-link-hover-bg);
            }
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          width: 20rem;
        }

        &:last-child {
          flex: 1;
        }
      }
    }

    .tbody {
      height: calc(100% - 4vh);
      overflow-y: auto;

      .tr {
        height: 4vh;
        display: flex;

        .td {
          width: 8rem;
          display: flex;
          align-items: center;
          color: var(--text-900-rgba);

          a {
            color: var(--gray-900);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          &:first-child {
            width: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .action-btn {
              cursor: pointer;
              position: relative;
              width: 30px;
              height: 30px;
              font-size: 16px;
              border-radius: 7px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: var(--gray-900);
              border: 2px solid transparent;
              background-color: transparent;

              &:hover {
                border-color: var(--dropdown-border-color);
              }
            }
          }

          &:nth-child(2),
          &:nth-child(3) {
            width: 20rem;
          }

          &:last-child {
            flex: 1;
          }
        }
      }
    }
  }

}

// .table {
//   table-layout: fixed;
//   width: 100%;
//   border-collapse: collapse;

//   .th,
//   .td {
//     position: relative;
//     width: 8rem;
//     padding: 8px;
//     border-bottom: 1px solid #eee;
//     text-align: left;

//     .text-truncate {
//       display: block;
//       max-width: 100%;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       white-space: nowrap;
//     }

//     &:first-child {
//       padding-left: 0;
//       padding-right: 0;
//       width: 3rem;
//     }

//     &:nth-child(2) {
//       width: 15rem;
//     }

//     &:nth-child(3) {
//       width: 20rem;
//     }
//   }

//   .thead .th {
//     position: sticky;
//     top: 0;
//     background-color: var(--bg-200-rgba);
//     color: var(--text-900-rgba);
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
//     z-index: 5;

//     &:first-child {
//       text-align: center;

//       .btn-column-management {
//         cursor: pointer;
//         font-size: 16px;
//         padding: 7px 10px;
//         border-radius: 50%;
//         color: var(--text-900-rgba);
//         background-color: transparent;
//         border: 1px solid transparent;

//         &:hover {
//           background-color: var(--dropdown-link-hover-bg);
//         }
//       }
//     }
//   }

//   tbody {
//     tr {
//       &:hover {
//         background-color: var(--dropdown-link-hover-bg);
//       }
//     }

//     td {
//       position: relative;
//       color: var(--gray-900);

//       a {
//         color: var(--gray-900);
//         text-decoration: none;

//         &:hover {
//           text-decoration: underline;
//         }
//       }

.action-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  background: var(--dialog-color);
  border: 1px solid var(--dropdown-border-color);
  padding: 6px;
  border-radius: 6px;
  box-shadow: var(--dialog-box-shadow);

  &.hidden {
    display: none;
  }

  .action-dropdown {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 6px;
    width: 5rem;

    button {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .3rem .5rem;
      background-color: transparent;
      border: none;
      color: var(--gray-900);

      &:last-child {
        color: rgba(230, 55, 87, 1);
      }

      &:hover {
        background-color: var(--dropdown-link-hover-bg);
      }
    }
  }
}

.text-truncate {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}