.table-responsive {
  max-height: 645px;       
  overflow-y: auto;       
  border: 1px solid #ddd;
  border-radius: 6px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td{
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    white-space: nowrap;    
    overflow: hidden;        
    text-overflow: ellipsis;
    max-width: 100px; 
  }

  thead th {
    position: sticky;  
    top: 0;               
    background-color: var(--bg-200-rgba);
    color: var(--text-900-rgba);
    z-index: 2;       
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
  }

  tbody tr:hover {
    background-color: #f9f9f9;
  }
}