@let visible = isVisible();
<div class="dialog-overlay" *ngIf="visible">
    <div class="dialog-box" (click)="$event.stopPropagation()">

        <h2>{{ data?.name }}</h2>
        <!-- <img *ngIf="data?.imageUrl" [src]="data.imageUrl" [alt]="data.name" />
        <p>{{ data!.description }}</p>
        <p *ngIf="data?.price">Price: ${{ data.price }}</p>-->

        <!-- nếu muốn hiển thị các field khác dynamic -->
        <!-- <div *ngIf="data">
            <p *ngFor="let key of objectKeys(data)">
                {{ key }}: {{ data[key] }}
            </p>
        </div> -->
    </div>
</div>