// Light Theme
// Background
$light-body-bg: #edf2f9;
$light-body-color: #5e6e82;
$light-gray-300: #d8e2ef;
$light-gray-400: #b6c1d2;
$light-gray-900: #344050;
$light-quaternary-bg: #fff;
$light-nav-link-hover-color: rgba(0, 0, 0, 0.7);
$light-nav-link-color: rgba(0, 0, 0, 0.55);
$light-dialog-color: rgba(255, 255, 255, 1);
$light-box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
$light-dropdown-link-hover-bg: #f9fafd;
$light-border-color: #d8e2ef;
$light-emphasis-bg: #fff;
$light-navbar-vertical-default-link-color: #5e6e82;
$light-bg-200-rgba: rgba(237, 242, 249, 1);
$light-text-900-rgba: rgba(52, 64, 80, 1);
$light-heading-color: #344050;

$light-bg-primary: #ffffff;
$light-bg-secondary: #e9ecef;
$light-bg-tertiary: #e3f2fd;
$light-bg-input: #F5F5F5;
$light-bg-btn: #1A73E8;
$light-bg-btn-hover: #1669C1;
$light-bg-img: '/assets/images/background-light-mode.jpg';
$light-bg-dialog: #F5F5F5;

// Text and Icons
$light-color-text-primary: #121212;
$light-color-text-secondary: #1976d2;
$light-color-text-tertiary: #F5F5F5;
$light-color-error: #ff002f;
$light-color-icon-primary: #121212;
$light-color-icon-secondary: #F5F5F5;

// Borders and shadows
$light-color-border-primary: #1A73E8;
$light-color-border-secondary: #90caf9;
$light-color-border-tertiary: #E5E5E5;
$light-color-shadow: rgba(0, 0, 0, 0.2);

// Logo
$light-logo: '/assets/images/logo-light-mode.png';

// Dark Theme
$dark-body-bg: #0b1727;
$dark-body-color: #9da9bb;
$dark-gray-300: #344050;
$dark-gray-400: #4d5969;
$dark-gray-900: #d8e2ef;
$dark-quaternary-bg: #0b1727;
$dark-nav-link-color: rgba(255, 255, 255, 0.55);
$dark-nav-link-hover-color: rgba(255, 255, 255, 0.7);
$dark-dialog-color: #232e3c;
$dark-box-shadow: 0 7px 14px 0 rgba(3, 12, 51, 0.15), 0 3px 6px 0 rgba(0, 0, 0, 0.2);
$dark-dropdown-link-hover-bg: rgba(11, 23, 39, 0.4);
$dark-border-color: rgba(255, 255, 255, 0.05);
$dark-emphasis-bg: #121e2d;
$dark-navbar-vertical-default-link-color: #9da9bb;
$dark-bg-200-rgba: rgba(35, 46, 60, 1);
$dark-text-900-rgba: rgba(216, 226, 239, 1);
$dark-heading-color: #d8e2ef;

$dark-bg-primary: #121212;
$dark-bg-secondary: #343434;
$dark-bg-tertiary: #343434;
$dark-bg-input: #343434;
$dark-bg-img: '/assets/images/background-dark-mode.png';
$dark-bg-btn: #1A1A1A;
$dark-bg-btn-hover: #474646;
$dark-bg-dialog: #343434;

// Text and Icons
$dark-color-text-primary: #F5F5F5;
$dark-color-text-secondary: #F5F5F5;
// $dark-color-text-tertiary: #F5F5F5;
$dark-color-error: #fc3333;
$dark-color-icon: #F5F5F5;

// Logo
$dark-logo: '/assets/images/logo-dark-mode.png';

// Borders and shadows
$dark-color-border-primary: #F5F5F5;
$dark-color-border-secondary: #90caf9;
$dark-color-border-tertiary: #474646;
$dark-color-shadow: rgba(191, 191, 191, 0.2);

@mixin lighten() {
  --body-color: #{$light-body-color};
  --body-bg: #{$light-body-bg};
  --gray-300: #{$light-gray-300};
  --gray-400: #{$light-gray-400};
  --gray-900: #{$light-gray-900};
  --quaternary-bg: #{$light-quaternary-bg};
  --nav-link-color: #{$light-nav-link-color};
  --nav-link-hover-color: #{$light-nav-link-hover-color};
  --dialog-color: #{$light-dialog-color};
  --dialog-box-shadow: #{$light-box-shadow};
  --dropdown-link-hover-bg: #{$light-dropdown-link-hover-bg};
  --dropdown-border-color: #{$light-border-color};
  --emphasis-bg: #{$light-emphasis-bg};
  --navbar-vertical-default-link-color: #{$light-navbar-vertical-default-link-color};
  --bg-200-rgba: #{$light-bg-200-rgba};
  --text-900-rgba: #{$light-text-900-rgba};
  --heading-color: #{$light-heading-color};

  --bg-primary: #{$light-bg-primary};
  --bg-secondary: #{$light-bg-secondary};
  --bg-tertiary: #{$light-bg-tertiary};
  --bg-input: #{$light-bg-input};
  --bg-image: url(#{$light-bg-img});
  --bg-btn: #{$light-bg-btn};
  --bg-btn-hover: #{$light-bg-btn-hover};
  --bg-dialog-primary: #{$light-bg-dialog};
  --nav-link-hover-color: #{$light-nav-link-hover-color};

  --color-text-primary: #{$light-color-text-primary};
  --color-text-secondary: #{$light-color-text-secondary};
  --color-text-tertiary: #{$light-color-text-tertiary};
  --color-error: #{$light-color-error};
  --color-icon-primary: #{$light-color-icon-primary};
  --color-icon-secondary: #{$light-color-icon-secondary};
  --color-border-primary: #{$light-color-border-primary};
  --color-border-secondary: #{$light-color-border-secondary};
  --color-border-tertiary: #{$light-color-border-tertiary};
  --color-shadow: #{$light-color-shadow};

  --logo: url($light-logo);
}

@mixin darken() {
  --body-color: #{$dark-body-color};
  --body-bg: #{$dark-body-bg};
  --gray-300: #{$dark-gray-300};
  --gray-400: #{$dark-gray-400};
  --gray-900: #{$dark-gray-900};
  --quaternary-bg: #{$dark-quaternary-bg};
  --nav-link-color: #{$dark-nav-link-color};
  --nav-link-hover-color: #{$dark-nav-link-hover-color};
  --dialog-color: #{$dark-dialog-color} !important;
  --dialog-box-shadow: #{$dark-box-shadow};
  --dropdown-link-hover-bg: #{$dark-dropdown-link-hover-bg};
  --dropdown-border-color: #{$dark-border-color};
  --emphasis-bg: #{$dark-emphasis-bg};
  --navbar-vertical-default-link-color: #{$dark-navbar-vertical-default-link-color};
  --bg-200-rgba: #{$dark-bg-200-rgba};
  --text-900-rgba: #{$dark-text-900-rgba};
  --heading-color: #{$dark-heading-color};

  --bg-primary: #{$dark-bg-primary};
  --bg-secondary: #{$dark-bg-secondary};
  --bg-tertiary: #{$dark-bg-tertiary};
  --bg-input: #{$dark-bg-input};
  --bg-image: url(#{$dark-bg-img});
  --bg-btn: #{$dark-bg-btn};
  --bg-btn-hover: #{$dark-bg-btn-hover};
  --bg-diglog-primary: #{$dark-bg-dialog};

  --color-text-primary: #{$dark-color-text-primary};
  --color-text-secondary: #{$dark-color-text-secondary};
  --color-error: #{$dark-color-error};
  --color-icon: #{$dark-color-icon};
  --color-border-primary: #{$dark-color-border-primary};
  --color-border-secondary: #{$dark-color-border-secondary};
  --color-border-tertiary: #{$dark-color-border-tertiary};
  --color-shadow: #{$dark-color-shadow};

  --logo: url($dark-logo);
}