.product-container {
  height: 90vh;
  margin: 0 0 0 3rem;
  box-shadow: var(--dialog-box-shadow);
  background-color: var(--emphasis-bg);
  overflow: hidden;

  .product-list {
    padding: 1rem;
  }

  .product-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 5px;

    h1 {
      color: var(--heading-color);
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 10px;

      button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 7px;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
          background-color: var(--bg-tertiary);
          border-color: var(--bg-color-border-secondary);
          color: var(--color-text-secondary);
        }
      }
    }
  }
}